In [ ]:
import os
import pandas as pd
import numpy as np
from numpy.random import rand
from tqdm.notebook import tqdm
from random import randint
import inflect

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
part1=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_1.csv", encoding='cp1252',index_col=0)
part2=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_2.csv", encoding='cp1252',index_col=0)
part3=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_3.csv", encoding='cp1252',index_col=0)
part3=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_3.csv", encoding='cp1252',index_col=0)
part4=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_4.csv", encoding='cp1252',index_col=0)
part5=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_5.csv", encoding='cp1252',index_col=0)
part6=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_6.csv", encoding='cp1252',index_col=0)
part7=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_7.csv", encoding='cp1252',index_col=0)
part8=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_8.csv", encoding='cp1252',index_col=0)
part9=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_9.csv", encoding='cp1252',index_col=0)
part10=pd.read_csv("/content/drive/MyDrive/Crosswords/baseline/baseline_results_10.csv", encoding='cp1252',index_col=0)

In [ ]:
baseline=part1.append(part2,ignore_index=True)\
.append(part3,ignore_index=True)\
.append(part4,ignore_index=True)\
.append(part5,ignore_index=True)\
.append(part6,ignore_index=True)\
.append(part7,ignore_index=True)\
.append(part8,ignore_index=True)\
.append(part9,ignore_index=True)\
.append(part10,ignore_index=True)\

baseline=baseline.drop(columns=['level_0'])
baseline.fillna('nan', inplace=True)

In [ ]:
baseline

,index,date,answer,clue,answer_length,baseline_prompt,baseline_prompt_output
0,196133,2014-10-22,cent,Copper.,4,Solve this crossword puzzle by providing a 4 l...,____er
1,439249,2006-02-10,todd,Mary in the White House.,4,Solve this crossword puzzle by providing a 4 l...,hale
2,723490,1995-12-17,loci,Centers of activity.,4,Solve this crossword puzzle by providing a 4 l...,hubs.
3,41792,2020-05-06,warzones,Places on travel advisory lists.,8,Solve this crossword puzzle by providing a 8 l...,countries
4,392487,2007-10-13,ada,"Lovelace who was called ""The Enchantress of Nu...",3,Solve this crossword puzzle by providing a 3 l...,ada
...,...,...,...,...,...,...,...
9995,349877,2009-04-20,onea,Prime draft status.,4,Solve this crossword puzzle by providing a 4 l...,rook
9996,134585,2017-01-04,aone,Best of the best.,4,Solve this crossword puzzle by providing a 4 l...,aces.
9997,760988,1994-08-14,roy,Dale's favorite cowboy.,3,Solve this crossword puzzle by providing a 3 l...,roy
9998,151161,2016-06-01,umlaut,Mark in the intersection of 17-Across and 1-Down.,6,Solve this crossword puzzle by providing a 6 l...,xmarks
9999,493016,2004-03-07,stoops,Places to sit.,6,Solve this crossword puzzle by providing a 6 l...,chairs.

In [ ]:
def acc_eval(df,batch_output_column_name):
  acc=np.sum(df['answer']==df[batch_output_column_name])/len(df)
  return acc

In [ ]:
acc_eval(baseline,"baseline_prompt_output")

0.2142

In [ ]:
## percentage of basline output containing non letter output
baseline['punct'] = baseline.baseline_prompt_output.apply(lambda x:str(x).isalpha())
non_letter=1-np.sum(baseline['punct'])/len(baseline)
non_letter

0.3941

In [ ]:
baseline[]

In [ ]:
## percentage of basline output with the RIGHT amout of letters
baseline['output_length'] = baseline.baseline_prompt_output.apply(lambda x:len(str(x)))
letter_acc=np.sum(baseline['answer_length']==baseline["output_length"])/len(baseline)
letter_acc

0.4944

In [ ]:
## checking accuracy if punctuation is striped from output answers
def strip_punct(s):
  #print(s)
  s = ''.join(filter(str.isalnum, s))
  return s
baseline['cleaned_output']=baseline.baseline_prompt_output.apply(lambda x:strip_punct(x))
acc_eval(baseline,"cleaned_output")

0.2896

In [ ]:
baseline['cleaned_output_length'] = baseline.cleaned_output.apply(lambda x:len(str(x)))
letter_acc=np.sum(baseline['answer_length']==baseline["cleaned_output_length"])/len(baseline)
letter_acc

0.6372